<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <title>Mi Sazón</title>
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <link rel="shortcut icon" type="image/x-icon" href="../images/mi-sazon.ico">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.1/css/all.css" integrity="sha384-O8whS3fhG2OnA5Kas0Y9l3cfpmYjapjI0E4theH4iuMD+pLhbf6JI0jIMfYcK3yZ" crossorigin="anonymous">
  <link rel="stylesheet" href="../css/view1.css" />
</head>
<body>
  <header>
    <nav class="navbar navbar-expand-lg navbar-light navbar-style">
      <a class="navbar-brand" href="#">
        <img src="../images/mi-sazon.png" width="74px" alt="logo-mi-sazon" />
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarColor03">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
              <div	class="btn-group">
              <div   class="btn-group">
                <button id="userHome" type="button" class="btn btn-dark" href="view1.html" >Home <span class="sr-only">(current)</span></button>
                <button id="userProfile" type="button" class="btn btn-dark" data-toggle="modal" data-target="#exampleModalCenter">Mi Perfil</button>
                <button id="userExit" type="button" class="btn btn-dark" >Salir</button>
              </div>
          </li>
        </ul>
      </div>
    </nav>
  </header>
  <section class="main-section">
    <div class="container">
      <div class="row">
        <div class="col-sm">
          <div class="card publication">
            <div class="card-body">
              <form action="">
                <div class="form-group">
                  <span id = "logedUser"></span>
                  <input id="publicText"type="text" class="form-control" placeholder="¿Qué tienes en tu refri?"/>
                </div>
                <button id="publicButton" type="button" class="btn btn-primary form-button">Publicar</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section>
      <div class="row">
        <div class="col-sm">
          <div id="cardPublication" class="card publication">
           <div  class="card-body">
              <p id= "text" class="card-text">Mensaje fijado</p>
              <div class="text-right">
                <a id="heart" class="a-like-btn" href="#"><i class="fas fa-heart like-btn"></i></a>
                <a id="edit" class="btn btn-secondary form-button" href="#">Editar</a>
                <a id= "delet" class="btn btn-danger form-button" href="#">Borrar</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">🍳El perfil del mejor cocinero</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <section id="pPhoto"><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br></section>
        <p id="pName"><!--Aquí irá el nombre--></p>
        <p id="pEmail"><!--Aquí irá el correo--></p>
      <!--Aquí debe ir la informacion del usuario-->
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>
  <script  src = " https://cdn.firebase.com/libs/firebaseui/3.1.1/firebaseui.js "></script>
  <script src="https://www.gstatic.com/firebasejs/5.2.0/firebase.js"></script>
  <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
  <script src="../js/permisos.js"></script>
  <!-- <script src="../js/index.js" ></script> -->
  <script src="../js/view.js"></script>
</body>
</html>
