/* IMPORTS */
@import url('https://fonts.googleapis.com/css?family=Fugaz+One');

@media (min-width: 768px) {
  .contenedor {
    width: 640px;
    display: block;
    margin: 0 auto;
    margin-top: 1em;
  }
  .form-label {
    font-size: 1.5em !important;
  }
  .form-button {
    font-size: 2em !important;
    color: white;
  }
  .form-input {
    font-size: 1.5em;
  }
}

body {
  background-image: url(../images/fondo.png);
  font-family: 'Fugaz One', cursive;
}

.form-button {
  font-size: 1em;
  color: white;
}

.btn-register {
  background-color: #c99b12 !important;
  border-color: #c99b12 !important;
}

.btn-google-plus {
  background-color: #dd4b39 !important;
  border-color: #dd4b39 !important;
}

.btn-facebook {
  background-color: #3b5998 !important;
  border-color: #3b5998 !important;
}

.form-label {
  font-size: 1em;
}

.form-input {
  font-size: 1em;
}

.contenedor, #contenedor {
  padding: 30px 60px;
  margin-top: 1em;
}
#img {
  width: 300px;
  height: auto;
  margin: auto;
  display: block;
}

.form-login {
  background-color: white;
  border-radius: 7px;
}

.form-logo {
  position: relative;
  width: 100%;
}
