/* IMPORTS */
@import url('https://fonts.googleapis.com/css?family=Quattrocento+Sans');

body {
  font-family:'Quattrocento Sans', sans-serif;
  font-size: 1em;
}

.navbar-style {
  background-color: #433c30;
  color: white;
  font-size: 1.5em;
}

nav div ul li a{
  color: white !important;
}

.logo {
  width: 128px;
  border-radius: 7px;
}

nav a {
  display: block;
  margin: 0 auto !important;
}
